*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: rgb(182, 150, 150); 
}
header{
    background: radial-gradient(circle, #ff6767, #ff0000,#ff6767);
    background-size: 200%;
    text-align: center;
    color: white;
    animation: glowing 3s linear infinite;
}
@keyframes glowing {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 200%;
    }
}
h1{
    padding-top: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 20px;
}
li{
    margin:0 20px 20px;
}
a{
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out 300ms;
}
a:hover{
    color:#ff0000;
    background-color: white;
    transition: ease-in-out 300ms;
}
.about h2{
    margin: 10px;
    background-color: pink;
    padding: 10px;
    transition: 300ms ease-in-out;
    border: 1px solid black;   
}
.about h2:hover{
    box-shadow: 0 0 10px 0 black;
}
.about p{
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border:1px dashed black
}
.projects-grid{
    margin: 40px 10px;
    padding: 10px;
    background-color: rgb(244, 170, 141);
    display: grid;
    grid-template-columns: repeat(4,minmax(150px, 1fr));
    color: black;
    border: 1px solid black;    
    transition: 300ms ease-in-out;
}
.projects-grid:hover{
    box-shadow: 0 0 10px 0 black;
}
.project{
    margin: 50px  auto;
    text-align: center;
    background-color: gray;
    color: white;
    border: 1px dotted black;
    transition: 300ms ease-in-out;
}
.project:hover{
    background-color: rgb(77, 77, 77);
    box-shadow: 0 0 10px 0 black;
}
footer {
    background-color: black;
    color: white;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}
 
